// inline overrides

.ant-dropdown {
  min-width: 100px !important;
}

// file overrides
.app-wrapper[data-theme="light"] {
  .ant-layout-header,
  .ant-menu {
    background: var(--dark-7);
  }

  .ant-menu-horizontal {
    border-bottom: 0;
  }
}

body {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
  }
}