*, *::before, *::after {
  box-sizing: border-box;
}

body, hr, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}