@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less'; // Import Ant Design styles by less entry

@unit: 0.65rem;
@primary-color: #3f51b5;
@info-color: #dd0b81;
@success-color: @green-5;
@error-color: @red-5;
@highlight-color: @red-5;
@primary-1: #E8EAF6;
@primary-2: #C5CAE9;
@primary-3: #9FA8DA;
@primary-4: #7986CB;
@primary-5: #5C6BC0;
@primary-6: @primary-color;
@primary-7: #3949AB;
@primary-8: #303F9F;
@primary-9: #283593;
@primary-10: #1A237E;

:root {
  --primary: @primary-color;
  --primary-1: @primary-1;
  --primary-2: @primary-2;
  --primary-3: @primary-3;
  --primary-4: @primary-4;
  --primary-5: @primary-5;
  --primary-6: @primary-6;
  --primary-7: @primary-7;
  --primary-8: @primary-8;
  --primary-9: @primary-9;
  --primary-10: @primary-10;
  --success: @success-color;
  --error: @error-color;
}